<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userform</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 px-10 py-10 text-white">
        <div class="flex gap-3 mb-5 w-1/2">
            <h1 class="">Create User</h1>
            <button class="px-2 bg-red-500 text-white rounded"><a href="/read">Profiles</a></button>
        </div>
        <div class="w-full text-white px-5 py-5">
            <form action="/create" method="post" class="flex gap-3">
                <input class="p-2 rounded border-none bg-zinc-600" type="text" placeholder="User name" name="name" required>
                <input class="p-2 rounded border-none bg-zinc-600" type="text" placeholder="User email" name="email" required>
                <input class="p-2 rounded border-none bg-zinc-600" type="text" placeholder="imageUrl" name="image" required>
                <input class="p-2 rounded border-none bg-blue-600" type="submit" value="create User">
            </form>
        </div>

    </div>
    
</body>
</html>